<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="Content/app.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:10px" ng-app="App" ng-controller="WarlockCtrl">
    
    <div class="container well" ng-cloak >
        <div class="pull-right btn-group">
            <a class="btn" ng-show="supportSave()" ng-click="save()">Save Game</a>
            <a class="btn" ng-show="supportSave()" ng-click="newGame()">New Game</a>
            <a class="btn" ng-click="eat()">Eat</a>
            <a class="btn" ng-disabled="Current.Luck <= 0" ng-click="testLuck()">Test Luck</a>
        </div>
        <h2>Warlock of Firetop Mountain</h1>

        <div class="row">
            <div class="span2">
                <fieldset>
                    <legend>Initial Scores</legend>
                    <h4>Stamina: {{Initial.Stamina}}</h4>
                    <h4>Skill: {{Initial.Skill}}</h4>
                    <h4>Luck: {{Initial.Luck}}</h4>
                    <h4>Provisions: {{Initial.Provisions}}</h4>
                </fieldset> 
            </div>

            <div class="span4">
                <fieldset>
                    <legend>Possessions</legend>
                    <div class="input-append">
                        <input type="text" placeholder="Add possession" ng-model="newPossession" />
                        <a class="btn" ng-click="addPossession(newPossession)">Add</a>
                    </div>
                    <div class="well" style="max-height:200px; overflow:auto">
                        <div ng-repeat="possession in Possessions" class="alert alert-danger">{{possession}}<a class="close" ng-click="deletePossession(possession)" >&times;</a></div>
                    </div>
                </fieldset> 
            </div>
        
            <div class="span6">
                <fieldset>
                    <legend>Current Scores</legend>
                    <table class="table table-condensed">
                        <tr>
                            <td>Stamina</td>    
                            <td colspan="2">
                                <div class="input-append">
                                    <input type="number" ng-model="Current.Stamina" ng-change="changeVal('Stamina')" /> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Skill</td> 
                            <td colspan="2"><input type="number" ng-model="Current.Skill" ng-change="changeVal('Skill')"/></td>    
                        </tr>
                        <tr ng-style="luckyOrNot">
                            <td>Luck</td>    
                            <td>
                                <input type="number" ng-model="Current.Luck" ng-change="changeVal('Luck')"/>
                            </td>
                            <td style="width:100px">
                                <div ng-show="luckScore != null">
                                    <div ng-class="diceClass(luckScore.roll1)"></div>
                                    <div ng-class="diceClass(luckScore.roll2)"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Provisions</td>    
                            <td colspan="2"><input type="number" readonly="true" ng-model="Current.Provisions"/></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    
        <div class="row">
            <div class="span12">
                <a href="" class="btn" ng-click="addMonster()">Monster!</a>
                <p></p>
                <table ng-show="Monsters.length > 0" class="table table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Skill</th>
                        <th>Stamina</th>
                        <th></th>
                    </tr>
                    <tbody ng-disabled="monster.Dead" ng-repeat="monster in Monsters">
                        <tr>
                            <td><input ng-disabled="monster.Dead" type="text" placeholder="Enter monster name" ng-model="monster.Name" /></td>
                            <td><input ng-disabled="monster.Dead" type="number" ng-model="monster.Skill" /></td>
                            <td><input ng-disabled="monster.Dead" type="number" ng-model="monster.Stamina" /></td>
                            <td><a ng-disabled="monster.Dead" href="" class="btn" ng-click="fightMonster(monster)">Fight!</a></td>
                        </tr>
                        <tr ng-show="!monster.Dead && monster.Round != null" >
                            <td>
                                <h4> Your attack score is {{monster.Round.you.score}}</h4>  
                                <div ng-class="diceClass(monster.Round.you.roll1)"></div>
                                <div ng-class="diceClass(monster.Round.you.roll2)"></div>
                            </td>
                            <td>
                                <h4> {{monster.Name}} attack score is {{monster.Round.monster.score}}</h4>
                                <div ng-class="diceClass(monster.Round.monster.roll1)"></div>
                                <div ng-class="diceClass(monster.Round.monster.roll2)"></div>
                            </td>
                            <td colspan="2">
                                <h4>{{monster.Status}}</h4>
                                <div><a ng-disabled="monster.Dead || Current.Luck <= 0 || monster.Round.Complete" title="click this button to test your luck" href="" class="btn" ng-click="monster.Round.TestLuck()">Test Luck</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
<script src="Scripts/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/localStorageModule.js" type="text/javascript"></script>
    <script type="text/javascript" src="Scripts/app.js"></script>
</html>
