<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="Content/app.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:10px" ng-app="App" ng-controller="WarlockCtrl">
    
    <div class="container well" ng-cloak >
        <div class="pull-right btn-group">
            <a class="btn" ng-show="supportSave()" ng-click="save()">Save Game</a>
            <a class="btn" ng-show="supportSave()" ng-click="newGame()">New Game</a>
            <a class="btn" ng-disabled="Current.Provisions <= 0" ng-click="eat()">Eat</a>
            <a class="btn" ng-disabled="Current.Luck <= 0" ng-click="testLuck()">Test Luck</a>
        </div>
        <h2>Fighting Fantasy</h2>

        <div class="row-fluid">
            <div class="span2">
                <h4><u>Initial Scores</u></h4>
                <h4>Stamina: {{Initial.Stamina}}</h4>
                <h4>Skill: {{Initial.Skill}}</h4>
                <h4>Luck: {{Initial.Luck}}</h4>
                <h4>Provisions: {{Initial.Provisions}}</h4>
            </div>

            <div class="span4">
                <h4><u>Equipment</u></h4>
                <div class="input-append">
                    <input type="text" placeholder="Add equipment" ng-model="newPossession" />
                    <a class="btn" ng-click="addPossession(newPossession)">Add</a>
                </div>
                <div class="well" style="max-height:200px; overflow:auto">
                    <div ng-repeat="possession in Possessions" class="alert alert-danger">{{possession}}<a class="close" ng-click="deletePossession(possession)" >&times;</a></div>
                </div>
            </div>
        
            <div class="span6">
                <h4><u>Current Scores</u></h4>
                <table class="table table-condensed">
                    <tr>
                        <td>Stamina</td>    
                        <td>
                            <input type="text"  readonly="true" ng-model="Current.Stamina" />
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn" ng-click="Current.Stamina = Current.Stamina+1;changeVal('Stamina')"><i class="icon-arrow-up"></i></button>
                                <button class="btn"  ng-click="Current.Stamina = Current.Stamina-1;changeVal('Stamina')"><i class="icon-arrow-down"></i></button> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Skill</td> 
                        <td colspan="2"><input type="number" ng-model="Current.Skill" ng-change="changeVal('Skill')"/></td>    
                    </tr>
                    <tr ng-style="luckyOrNot">
                        <td>Luck</td>    
                        <td>
                            <input type="number" ng-model="Current.Luck" ng-change="changeVal('Luck')"/>
                        </td>
                        <td style="width:100px">
                            <div ng-show="luckScore != null">
                                <div ng-class="diceClass(luckScore.roll1)"></div>
                                <div ng-class="diceClass(luckScore.roll2)"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Provisions</td>    
                        <td colspan="2"><input type="number" readonly="true" ng-model="Current.Provisions"/></td>
                    </tr>
                    <tr>
                        <td>Gold Coins</td>
                        <td colspan="2"><input type="number" ng-model="Current.GoldCoins"/></td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="row-fluid">
            <div class="span12">
                <a href="" class="btn" ng-click="addMonster()">Monster!</a>
                <p></p>
                
                <monster ng-repeat="monster in Monsters"></monster>

            </div>
        </div>

        <div id="dead" ng-modal="Current.Stamina" 
             title="You've been killed" 
             content="Your quest is over for now, but you might have better luck next time" 
             dismiss="newGame()" 
             dismiss-button="New Game" />

</body>
<script src="Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="Scripts/angular.js" type="text/javascript"></script>
<script src="Scripts/localStorageModule.js" type="text/javascript"></script>
<script type="text/javascript" src="Scripts/app.js"></script>
</html>
